resources:
  limits:
    cpu: 1
    memory: 6Gi
  requests:
    cpu: 200m
    memory: 512Mi



ingress:
  enabled: true
  ingressClassName: "nginx"

  url: "plex.cloud.worker"


pms:
  storageClassName: local-path
  configStorage: 20Gi

  # -- Name of an existing `PersistentVolumeClaim` for the PMS database
  # NOTE: When set, 'configStorage' and 'storageClassName' are ignored.
  configExistingClaim: ""
