apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 80.10.x
      sourceRef:
        kind: HelmRepository
        name: prometheus
        namespace: monitoring
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  valuesFrom:
    - kind: ConfigMap
      name: grafana-values
      valuesKey: values.yaml
    - kind: Secret
      name: grafana-secrets
      valuesKey: encrypted.yaml
