grafana:

  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - grafana.worker

    tls:
      - secretName: tls-cert
        hosts:
          - grafana.worker

  persistence:
    enabled: true
    storageClassName: local-path-retain
    accessModes:
      - ReadWriteOnce
    size: 20Gi

  initChownData:
    enabled: false

  defaultDashboardsTimezone: browser

  resources:
    limits:
      cpu: 300m
      memory: 2Gi
    requests:
      cpu: 100m
      memory: 128Mi

  sidecar:
    dashboards:
      resources:
        limits:
          cpu: 200m
          memory: 100Mi
        requests:
          cpu: 60m
          memory: 50Mi
    datasources:
      resources:
        limits:
          cpu: 200m
          memory: 100Mi
          requests:
            cpu: 50m
            memory: 50Mi

alertmanager:
  enabled: false

prometheusOperator:
  resources:
    limits:
      cpu: 200m
      memory: 500Mi
    requests:
      cpu: 100m
      memory: 100Mi

prometheus:
  prometheusSpec:
    resources:
      limits:
        cpu: 300m
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 100Mi

    storageSpec:
     volumeClaimTemplate:
       spec:
         storageClassName: local-path-retain
         resources:
           requests:
             storage: 50Gi
