name: "[reusable] Helmfile deployment"

on:
  workflow_call:
    inputs:
      chart_name:
        required: true
        type: string
    secrets:
      SOPS_AGE_KEY:
        required: true

jobs:
  helmfile-deploy:
    runs-on: arc-runner-set

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Helm, helmfile and dependencies
        uses: ./.github/actions/helm-install
        with:
          HELMFILE_VERSION: "1.2.3"
          HELM_SECRETS_VERSION: "4.7.4"
          SOPS_VERSION: "3.11.0"

      - name: Apply Chart to cluster
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        run: |
          helmfile -f middleware/${{ inputs.chart_name }}/helmfile.yaml apply
